# Language
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

#### Editors
export EDITOR=nvim
export VISUAL=${EDITOR}
export GIT_EDITOR=${EDITOR}
export PAGER='less'

#### Touchpad
TOUCHPAD_SPEED={{ touchpad_speed }}

{%  if ansible_os_family|lower != 'darwin' %}
[[ -z $DISPLAY && $XDG_VTNR -eq 1 ]] && exec startx

{% else %}{% endif %}
{%  if ansible_os_family|lower == 'darwin' %}
export SHELL={{ zsh_shell }}
{% endif %}