# Base16 Styling Guidelines:

base00='#{{ base16.theme[default_theme]['base00_hex'] }}' # - Dark shade of blue. Default Background
base01='#{{ base16.theme[default_theme]['base01_hex'] }}' # - Very dark grayish blue. Lighter Background (Used for status bars)
base02='#{{ base16.theme[default_theme]['base02_hex'] }}' # - Very dark grayish blue. Selection Background
base03='#{{ base16.theme[default_theme]['base03_hex'] }}' # - darker grey. Comments, Invisibles, Line Highlighting
base04='#{{ base16.theme[default_theme]['base04_hex'] }}' # - grey. Dark Foreground (Used for status bars)
base05='#{{ base16.theme[default_theme]['base05_hex'] }}' # - light grey. Default Foreground, Caret, Delimiters, Operators
base06='#{{ base16.theme[default_theme]['base06_hex'] }}' # - hint of grey but more white. Light Foreground (Not often used)
base07='#{{ base16.theme[default_theme]['base07_hex'] }}' # - light grey. Light Background (Not often used)
base08='#{{ base16.theme[default_theme]['base08_hex'] }}' # - medium red. Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
base09='#{{ base16.theme[default_theme]['base09_hex'] }}' # - medium light orange. Integers, Boolean, Constants, XML Attributes, Markup Link Url
base0A='#{{ base16.theme[default_theme]['base0A_hex'] }}' # - light yellow green. Classes, Markup Bold, Search Text Background
base0B='#{{ base16.theme[default_theme]['base0B_hex'] }}' # - medium light green. Strings, Inherited Class, Markup Code, Diff Inserted
base0C='#{{ base16.theme[default_theme]['base0C_hex'] }}' # - light cyan. Support, Regular Expressions, Escape Characters, Markup Quotes
base0D='#{{ base16.theme[default_theme]['base0D_hex'] }}' # - cyan blue. Functions, Methods, Attribute IDs
base0E='#{{ base16.theme[default_theme]['base0E_hex'] }}' # - light magenta. Keywords, Storage, Selector, Markup Italic, Diff Changed
base0F='#{{ base16.theme[default_theme]['base0F_hex'] }}' # - brownish red. Deprecated, Opening/Closing Embedded Language Tags

# default statusbar colors
set-option -g status-style "fg=$base04,bg=$base01"

# default window title colors
set-window-option -g window-status-style "fg=$base04,bg=default"

# active window title colors
set-window-option -g window-status-current-style "fg=$base0A,bg=default"

# pane border
set-option -g pane-border-style "fg=$base01"
set-option -g pane-active-border-style "fg=$base02"

# message text
set-option -g message-style "fg=$base05,bg=$base01"

# pane number display
set-option -g display-panes-active-colour "$base0B"
set-option -g display-panes-colour "$base0A"

# clock
set-window-option -g clock-mode-colour "$base0B"

# copy mode highligh
set-window-option -g mode-style "fg=$base04,bg=$base02"

# bell
set-window-option -g window-status-bell-style "fg=$base01,bg=$base08"