<?xml version="1.0" encoding="UTF-8"?>
<!--
    Base16 {{ base16.theme[default_theme]['scheme_name'] }}-256
    Template: Chris Kempson, Scheme: {{ base16.theme[default_theme]['scheme_author'] }}
    semanticClass: {{ base16.theme[default_theme]['scheme_slug'] }}
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ansi 0 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base00_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base00_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base00_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Ansi 1 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base08_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base08_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base08_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Ansi 10 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base0B_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base0B_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base0B_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Ansi 11 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base0A_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base0A_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base0A_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Ansi 12 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base0D_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base0D_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base0D_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Ansi 13 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base0E_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base0E_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base0E_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Ansi 14 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base0C_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base0C_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base0C_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Ansi 15 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base07_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base07_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base07_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Ansi 2 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base0B_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base0B_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base0B_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Ansi 3 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base0A_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base0A_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base0A_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Ansi 4 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base0D_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base0D_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base0D_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Ansi 5 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base0E_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base0E_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base0E_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Ansi 6 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base0C_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base0C_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base0C_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Ansi 7 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base05_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base05_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base05_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Ansi 8 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base03_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base03_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base03_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Ansi 9 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base08_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base08_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base08_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Background Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base00_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base00_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base00_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Bold Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base05_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base05_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base05_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Cursor Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base05_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base05_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base05_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Cursor Text Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base00_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base00_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base00_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Foreground Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base05_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base05_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base05_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Selected Text Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base05_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base05_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base05_rgb_r'] | float) / 255 }}</real>
	</dict>
	<key>Selection Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{ (base16.theme[default_theme]['base02_rgb_b'] | float) / 255 }}</real>
		<key>Green Component</key>
		<real>{{ (base16.theme[default_theme]['base02_rgb_g'] | float) / 255 }}</real>
		<key>Red Component</key>
		<real>{{ (base16.theme[default_theme]['base02_rgb_r'] | float) / 255 }}</real>
	</dict>
</dict>
</plist>
