#!/bin/sh


if [ -d /etc/X11/xinit/xinitrc.d ]; then
  for f in /etc/X11/xinit/xinitrc.d/*; do
    [ -x "$f" ] && . "$f"
  done
  unset f
fi

# Programs/settings common to many WMs

start_common ()
{
    autorandr -c
    {% if ansible_facts['hostname'] == 'linuxlaptop' %}
    export GDK_DPI_SCALE=0.95
    export QT_SCREEN_SCALE_FACTORS=0.9
    export QT_AUTO_SCREEN_SCALE_FACTOR=2
    export QT_SCALE_FACTOR=2

    xrandr --dpi 220
    xrandr --output HDMI-3 --scale 1.5x1.5 --output DP-1 --scale 1.5x1.5
    {% elif ansible_facts['hostname'] == 'linuxserver' %}
    xrandr --output DVI-I-0 --off --output DVI-I-1 --mode 1920x1080 --pos 0x0 --rotate normal --scale 1.5x1.5 --output HDMI-0 --primary --mode 1920x1080 --pos 2880x0 --rotate normal --scale 1.5x1.5 --output DP-0 --off --output DVI-D-0 --off --output DP-1 --off
    {% endif %}
    # Use my .Xresources file
    xrdb -merge ~/.Xresources
    urxvtd -q -o -f &
    numlockx &
    xset +fp /home/sultan/.local/share/fonts
    xset fp rehash

    # Disable annoying beeps
    xset b off

    # Remap CAPS to ESC
    setxkbmap -layout up -option caps:escape

    # Disable those annoying "forward" and "back" keys on my laptop
    xmodmap -e "keycode 166="
    xmodmap -e "keycode 167="

    # Set the Cursor
    xsetroot -cursor_name left_ptr

    compton&

}

start_bspwm()
{
    start_common
    sxhkd &
    exec bspwm
}

start_i3 ()
{
    start_common
    exec i3
}

# Default window manager
session=${1:-i3}
case $session in
    bspwm) start_bspwm;;
    kde) start_kde;;
    xfce4) start_xfce4;;
    gnome) start_gnome;;
    i3) start_i3;;
    *) echo "Please enter an option"
esac
